textarea {
    min-height: 400px;
}

h5 {
    font-size: medium;
}

.email {
    border: #dee2e6 1px solid;
    border-radius: 5px;
    margin: 0.5rem;
}

.email:hover {
    cursor: pointer;
    transition: 1s;
    border: #363636 1px solid;
}

.email.unread {
    background-color: rgb(243, 243, 243);
}

.email.read {
    background-color: rgb(235, 234, 234);
}

.row {
    padding: 0.5rem;
    padding-left: 0;
    padding-right: 0;
}

.col, .col-3, .col-2 {
    margin: 0.3rem;
}

hr {
    margin: 0;
}

#btn-archive {
    width: 78px;
}

#oe-timestamp {
    flex-grow: 1;
    text-align: right;
    width: 153px;
}