{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <h2 id="user-email" data-email="{{ request.user.email }}">{{ request.user.email }}</h2>
    <div id="navigarion">
        <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
        <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
        <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
        <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
        <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>    
    </div>
    <hr>

    <div id="emails-view">
    </div>

    <div id="open-email-view">
        <div class="email-open container">
            <!-- oe = open email -->
            <div class="row">
                <div class="col">
                    <h5 id="oe-sender"></h5>
                    <h5 id="oe-recipients"></h5>
                    <h4 id="oe-subject"></h4>
                    <div id="btn-reply">
                    </div>
                </div>
                <div class="col-2 d-flex flex-column align-items-end">
                    <span id="oe-timestamp">Date: {timestamp}</span>
                    <div id="div-archive">
                    </div>
                </div>
            </div>
            <hr>
            <p id="oe-content">
                {content}
            </p>
        </div>
    </div>

    <div id="compose-view">
        <h3>New Email</h3>
        <form id="compose-form">
            <div class="mb-3 form-label">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="mb-3 form-label">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="mb-3 form-label">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea rows="6" class="form-control" id="compose-body" placeholder="Body"></textarea>
            <input type="submit" class="btn btn-primary"/>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}